# 06 – Feature Engineering and Storage

In [1]:
import sys
import os
sys.path.insert(0, os.path.abspath('..'))

In [2]:
from scripts.transformation import transform_and_store
import os
# Paths
raw_root = os.path.join('..', 'data', 'raw')
prepared_dir = os.path.join('..', 'data', 'prepared')
transformed_dir = os.path.join('..', 'data', 'transformed')
db_path = os.path.join('..', 'database', 'churn_dw.sqlite')
features_path = transform_and_store(raw_root, prepared_dir, transformed_dir, db_path)
import pandas as pd
features_df = pd.read_csv(features_path)
features_df.head()

2025-08-24 14:30:01 - transformation - INFO - Transformed features saved to ..\data\transformed\customer_features.csv with 5000 rows.
2025-08-24 14:30:01 - transformation - INFO - Features written to SQLite database table customer_features

,customer_id,tenure_months,monthly_charges,total_charges,churn,num_transactions,total_spend,avg_transaction_amount,recency_days,tenure_years,...,tenure_years_scaled,gender_Male,senior_citizen_Yes,partner_Yes,dependents_Yes,contract_One year,contract_Two year,internet_service_Fiber optic,internet_service_No,phone_service_Yes
0,C000001,61,94.08,5687.83,1,0.0,0.00,0.000000,726.0,5.083333,...,0.847222,True,False,False,False,False,False,True,False,True
1,C000002,33,119.58,3915.94,0,7.0,362.82,51.831429,160.0,2.750000,...,0.458333,False,False,False,True,False,False,False,False,True
2,C000003,50,24.10,1231.70,0,2.0,165.77,82.885000,156.0,4.166667,...,0.694444,False,True,True,True,True,False,True,False,True
3,C000004,70,44.49,3113.11,1,1.0,95.96,95.960000,459.0,5.833333,...,0.972222,True,False,True,False,False,False,True,False,True
4,C000005,3,79.77,215.45,0,8.0,534.13,66.766250,11.0,0.250000,...,0.041667,True,False,False,False,True,False,False,False,True