# 07 â€“ Feature Store

In [1]:
import sys
import os
sys.path.insert(0, os.path.abspath('..'))

In [2]:
from scripts.feature_store import register_features, write_feature_values, get_feature_values
import os
import pandas as pd
# Paths
features_path = os.path.join('..', 'data', 'transformed', 'customer_features.csv')
db_path = os.path.join('..', 'feature_store', 'feature_store.sqlite')
version = 'v1'

features_df = pd.read_csv(features_path)
register_features(features_df, db_path, version=version)
write_feature_values(features_df, db_path, version=version)

# Query example
sample_customers = features_df['customer_id'].head(3).tolist()
feature_names = ['total_spend', 'tenure_months']
result = get_feature_values(sample_customers, feature_names, db_path, version)
result

feature_name customer_id  tenure_months  total_spend
0                C000001           61.0         0.00
1                C000002           33.0       362.82
2                C000003           50.0       165.77